body{
    font-family: 'PT Sans Narrow', sans-serif;
}
.header{
    display: flex;
}
.header_left{
    margin-left: 200px;
    width: 60%;
}
.header_rigth{
    width: 40%;
}
.header_left h1{
    margin-top: 70px;
    font-size: 70px;
}
.header_left h1 span{
    color: coral;
}
.header_left p{
    font-size: 23px;
}
.image_one{
    height: 700px;
    align-items: flex-end;
    margin-left: 30px;
}
.order_button{
    font-size: 22px;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 50px;
    background-image: linear-gradient(orange,tomato);

}
.body{
    background-image: url("images/Frame\ 58.jpg");
}
.image_two{
    
}
