body{
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}
.header{
    display: flex;
}
.header_left{
    margin-left: 200px;
    width: 60%;
}
.header_rigth{
    width: 40%;
}
.header_left h1{
    margin-top: 70px;
    font-size: 70px;
}
.header_left h1 span{
    color: coral;
}
.header_left p{
    font-size: 23px;
}
.image_one{
    height: 700px;
    align-items: flex-end;
    margin-left: 30px;
}
.order_button{
    font-size: 22px;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 50px;
    background-image: linear-gradient(orange,tomato);

}
.body{
    background-image: url("images/Frame\ 58.jpg");
    background-repeat: no-repeat;
    display: flex;
    height: 700px;
}
.image_two{
    height: 700px;
    align-items: flex-start;
    margin-left: 30px;
}
.body_left{
    margin-left: 200px;
    width: 60%;
}
.body_right{
    width: 40%;
}
.body_right h3{
    font-size: 70px;
}
.body_right p{
    font-size: 30px;
}
.thai_head h3{
    font-size: 50px;
    text-align: center;
}
.thai_head p{
    font-size: 30px;
    text-align: center;
}
.thai_footer{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
.thai_footter_left{
    width: 50%;
    border-radius: 50px;
    padding: 35px;
    box-shadow: 5px 7px 40px gray ;
    margin-right: 30px;
}
.thai_footter_right{
    width: 50%;
    border-radius: 50px;
    padding: 35px;
    box-shadow: 5px 7px 40px gray ;
    margin-left: 30px;
}
.thai_footer img{
    height: 450px;
    width: 100%;
    border-radius: 30px;
    align-items: center;
}
.thai_footer h4{
    font-size: 40px;
}
.thai_footer p{
    font-size: 30px;
}
.div_width{
    width: 33.33%;
    text-align: center;
}
.knee{
    display: flex;
    padding: 50px;
    box-shadow: 5px 7px 250px gray ;
    margin-top: 130px;
    margin-left: 50px;
    margin-right: 50px;
}
.knee h2{
    font-size: 50px;
    font-weight: bold;
}
.knee p{
    font-size: 20px;
}
.footer{
    width: 100%;
    height: 250px;
    background-color: black;
    text-align: center;
    margin-top: 60px;
}
.footer h4 span{
    color: orangered;
}
.footer h4{
    color: rgba(172, 172, 172, 0.836);
    font-size: 40px;
}
.footer p{
    color: blanchedalmond;
}

